.add,
.subtract,
.reset,
.rainbow,
.call__out {
  margin-block: 1.5rem;
  padding: .2em 1em;
  display: block;
  color: white;
  border: none;
  border-radius: .3rem;
}

.add {
  background-color: darkgreen;
}

.call__out {
  width: fit-content;
  margin-inline: auto;
  color: hsla(0, 0%, 100%, 87%);
  background-color: cornflowerblue;
}

.subtract {
  background-color: darkred;
}

.reset {
  background-color: darkgoldenrod;
}

.rainbow {
  margin-inline: auto;
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
}
