@font-face {
  font-family: "Basement Grotesque";
  src: url(./assets/fonts/BasementGrotesque-Black_v1.202.woff) format("woff");
  font-display: swap;
}

/* I know not all of this is being utilized right now but I wanted to ask if I should make utility classes or not and gather suggestions on how the website looks first before I delete any of this information as I put in a lot of time researching propper dark mode application design 

TODO:

--form validation

--form endpoint

--tooltip refactoring

--CSS culling

--downloadable resume

--replace some div / overlays with puesdo elements

--refactor classes and class names with either better
choice names or with better use of selectors

--I would like to create / import github commit history 
(ie: those green boxes) if I could get that to fit the overall
look and flow of the website.

--potentially use some js libraries if they are allowed

--better filler content as I feel like I am lacking here


*/

:root {
  /* Colors */
  --clr-primary: #b49edb;
  --clr-secondary: #3a2d49;
  --clr-background-base: #000000;
  --clr-bg-custom: #1f1b24;
  --clr-neutral-100: hsl(0, 0%, 87%);
  --clr-neutral-md: #999999;
  --clr-neutral-disabled: #616161;
  --clr-neutral-400: #f7f3e9;
  --clr-neutral-900: #000000;
  --clr-error: #cf687b;
  --clr-success: #c6db9e;
  /* Background Overlays */
  --bg-overlay-01dp: #0d0d0d;
  --bg-overlay-02dp: #121212;
  --bg-overlay-03dp: #141414;
  --bg-overlay-04dp: #171717;
  --bg-overlay-06dp: #1c1c1c;
  --bg-overlay-08dp: #1f1f1f;
  --bg-overlay-12dp: #242424;
  --bg-overlay-16dp: #262626;
  --bg-overlay-24dp: #292929;
  /* Font family */
  --ff-body: "Archivo", sans-serif;
  --ff-heading: "Basement Grotesque";
  /* Font weight */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 900;
  /* Font size */
  --fs-300: 0.8rem;
  --fs-400: 1.2rem;
  --fs-500: clamp(1.3rem, 6vw + 1rem, 1.8rem);
  --fs-600: clamp(1.5rem, 10vw + 1rem, 3rem);
  --fs-700: clamp(1.5rem, 10vw + 1rem, 4rem);
  --fs-800: clamp(1.5rem, 10vw + 1rem, 4rem);
  --fs-900: clamp(2rem, 8vw + 1rem, 9rem);
  --fs-mobile: clamp(3rem, 13vw + 1rem, 6rem);
  --fs-hero-intro: calc(1vw + 1rem);
  --fs-hero-owner: clamp(3rem, 12vw + 1rem, 9rem);

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-700);
  --fs-secondary-heading: var(--fs-600);
  --fs-nav: var(--fs-500);
  --fs-button: ;
}

/*------------------------ Reset -----------------------*/

/* Box sizing rules and remove default margin */
*:not(dialog),
*::before,
*::after {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
  width: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*-------------Utility Classes------------*/

/*coming soon*/

/********************* Headers ***********************/

/*------------------- General Styling ---------------------*/

/* Structure */

body {
  margin-inline: auto;
  color: var(--clr-neutral-400);
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  background-color: var(--clr-background-base);
}

main {
  transform: translateY(-20px);
  opacity: 0;
  animation: pageLoad 800ms ease-in 400ms forwards;
}

.sr-only {
  display: none;
}

.container--section {
  margin-inline: auto;
  max-width: 1400px;
}

/******************* Primary Navigation ********************/

.primary-header {
  position: sticky;
  top: 0;
  z-index: 1;
  text-transform: uppercase;
  font-size: var(--fs-nav);
  background-color: var(--bg-overlay-02dp);
}

.nav-wrapper {
  padding-inline: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-nav-toggle {
  display: none;
}

.nav__list {
  display: flex;
  gap: 20px;
  list-style: none;
  letter-spacing: 1.2;
  font-family: var(--ff-heading);
  font-weight: var(--fw-bold);
}

.list__item {
  margin-block: 1rem;
}

.nav__link {
  color: var(--clr-neutral-md);
  letter-spacing: 0.1rem;
  text-decoration: none;
}

.nav__link:hover {
  color: var(--clr-neutral-100);
  border-bottom: 2px solid var(--clr-primary);
}

.button {
  padding-inline: 0.5em;
  color: var(--clr-secondary);
  font-family: var(--ff-heading);
  text-transform: uppercase;
  border: none;
  border-radius: 0.3rem;
  width: fit-content;
  background-color: var(--clr-primary);
}

.button:hover,
.button:focus {
  color: var(--clr-primary);
  background-color: var(--clr-secondary);
}

.button--mobile {
  display: none;
}

/************************ Hero ******************************/

.hero__container {
  height: calc((100svh - 1px) / 2);
  background-image: url("./assets/photos/z-yu-rR8o1kEBmMQ-unsplash.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-block: 8rem;
  backdrop-filter: brightness(40%);
}

.hero__intro {
  padding-inline: 2rem;
  color: var(--clr-neutral-md);
  font-size: var(--fs-hero-intro);
  font-family: var(--ff-heading);
  text-transform: uppercase;
}

.hero__owner,
.owner__last-name {
  --font-size: clamp(40px, 8vw + 1rem, 100px);
  padding-inline: 2rem;
  font-size: var(--font-size);
  font-weight: 800;
  font-family: "Basement Grotesque", sans-serif;
  color: var(--clr-primary);
  text-transform: uppercase;
  line-height: 0.9;
}

/************** Small Attribute section under the Hero **************/

.attr__container {
  padding: 8rem 2rem;
}

.attr {
  --font-size: clamp(3rem, 8vw + 1rem, 8rem);
  width: 50%;
  margin-left: auto;
  color: var(--clr-neutral-md);
  font-size: 2rem;
  font-family: var(--ff-heading);
  text-transform: uppercase;
  line-height: 1.1;
  text-align: right;
}

.attr__key {
  color: var(--clr-primary);
  font-size: 3rem;
  vertical-align: middle;
}

.small {
  font-size: 2rem;
  vertical-align: middle;
}

/*********************** Projects ***************************/

.section__title {
  margin-inline: 2rem;
}

.project__header {
  word-wrap: break-word;
  color: var(--clr-primary);
  font-size: var(--fs-900);
  font-weight: 900;
  font-family: "Basement Grotesque", sans-serif;
  text-transform: uppercase;
}

.projects-container {
  padding-inline: 2rem;
}

.project__list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.project {
  display: flex;
  border-radius: 0.3rem;
  overflow: hidden;
}

.project:nth-of-type(2) {
  flex-direction: row-reverse;
}

.preview {
  flex: 1;
}

.preview img {
  height: 100%;
  object-fit: cover;
}

.project__info {
  flex: 1;
  background-color: var(--bg-overlay-02dp);
}

.project__num {
  color: var(--clr-secondary);
  font-weight: var(--fw-light);
  font-family: var(--ff-body);
}

.project__title {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-size: var(--fs-secondary-heading);
  font-family: var(--ff-heading);
  color: var(--clr-secondary);
  background-color: var(--clr-primary);
}

.project:nth-of-type(2) .project__info .project__title {
  text-align: right;
}

.project__description {
  padding: 1rem;
  color: var(--clr-neutral-md);
  font-weight: var(--fw-light);
  line-height: 1.6;
}

.course-work {
  display: block;
  margin: 4rem 2rem 0 auto;
  text-decoration: none;
}

/********************** About Me *****************************/
#about {
  margin-top: 6rem;
  padding-top: 5rem;
  background-color: var(--clr-primary);
}

.header--about {
  color: var(--clr-secondary);
}

.about__header {
  padding-inline: 2rem;
  font-family: "Basement Grotesque", sans-serif;
  font-size: var(--fs-900);
  text-align: center;
}

.about__me {
  width: fit-content;
  display: flex;
  align-items: start;
  position: relative;
  top: calc(7svh - 1px);
  left: calc(min(max(5%, 3vw)) - 1px);
}

.about__title,
.about__summary {
  flex-basis: 1;
}

.about__title,
.about__title--mobile {
  color: var(--clr-secondary);
  font-size: 1.8rem;
  font-family: "Basement Grotesque";
  writing-mode: vertical-lr;
  text-orientation: sideways;
  transform: rotate(180deg);
}

.about__summary {
  max-width: 27ch;
  font-family: "Archivo", sans-serif;
}

.hotspot-container {
  margin-inline: auto;
  max-width: 443.333px;
  position: relative;
}

.all__hotspots {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hotspot {
  width: 24px;
  height: 24px;
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid white;
  background-color: var(--clr-secondary);
}

.hotspot::after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  pointer-events: none;
  border-radius: 50%;
  border: 1px solid var(--clr-secondary);
  animation: hotspot-pulse 4s linear infinite;
}

.tooltip__content {
  width: 400px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.3rem;
  opacity: 0;
  pointer-events: none;
  background-color: rgb(255, 255, 255);
  z-index: 1;
}

.company-img-container {
  height: 200px;
}

.company__img {
  height: 100%;
  border-radius: 0.3rem 0.3rem 0 0;
  object-fit: cover;
}

.history {
  padding: 1rem;
  color: var(--clr-background-base);
}

.history__title {
  font-family: "Basement Grotesque", sans-serif;
  font-size: 2rem;
}

.border-pointer {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 10px solid transparent;
  border-bottom-color: rgb(255, 255, 255);
  top: 0px;
  left: 0px;
  transform: rotate(0deg);
}

.costco .hotspot {
  top: 54%;
  left: 18%;
}

.usmc .hotspot {
  top: 18%;
  left: 66%;
}

.apex .hotspot {
  top: 56%;
  left: 88%;
}

.costco:hover .tooltip__content,
.usmc:hover .tooltip__content,
.apex:hover .tooltip__content {
  opacity: 1;
  pointer-events: all;
}

.about__current {
  padding: 1rem;
  margin-left: auto;
  margin-right: 1rem;
  display: flex;
  align-items: start;
  max-width: 360px;
  position: relative;
  top: calc(-7svh - 1px);
}

.current {
  vertical-align: top;
}

.current__content {
  text-align: center;
}

.vets-img {
  width: 200px;
  margin-inline: auto;
  vertical-align: top;
}

.button__wrapper {
  display: flex;
  justify-content: space-evenly;
}

.button--current,
.button--resume {
  padding: 0.5em 0.5em 0.3em;
}

.button--current {
  background-color: var(--clr-neutral-100);
}

.button--resume {
  color: var(--clr-primary);
  background-color: var(--clr-secondary);
}

/******************** Footer Nav ***************************/

.footer__nav {
  padding: 2rem 6rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer__link {
  color: var(--clr-neutral-md);
  text-decoration: none;
  letter-spacing: 0.1rem;
}

.nav__icon {
  width: 32px;
  height: 32px;
}

/******************** Dialog Modal ***************************/
.modal {
  padding: 0;
  border: none;
  border-radius: 0.3rem;
  background-color: transparent;
}

.modal[open] {
  animation: slide-up 1000ms forwards, fade-in 500ms forwards;
}

.modal[closing] {
  display: block;
  pointer-events: none;
  inset: 0;
  animation: fade-out 500ms forwards;
}

.modal::backdrop {
  background-color: #12121297;
}

/********************* Contact Forum *************************/

.contact {
  position: relative;
  padding: 6rem 4rem 4rem;
  margin-inline: auto;
  width: fit-content;
  display: flex;
  gap: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  border-radius: 0.3rem;
  background-color: var(--bg-overlay-24dp);
}

.close__modal-wrapper {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.contact label {
  padding-inline: 0.5rem;
  position: absolute;
  top: -15px;
  left: 20px;
  font-family: "Basement Grotesque", sans-serif;
  text-transform: uppercase;
  color: var(--clr-neutral-400);
  letter-spacing: 0.2rem;
  border-inline: 2px solid var(--clr-primary);
  background-color: var(--bg-overlay-24dp);
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 1rem 0.5rem;
  resize: vertical;
  color: var(--clr-neutral-100);
  border-style: none;
  border-radius: 0.3rem;
  background-color: var(--bg-overlay-24dp);
  outline: 2px solid var(--clr-primary);
}

/* .contact input:focus {
}
 */

@media (max-width: 60em) {
  #contact-me {
    display: none;
  }

  .button--mobile {
    width: 60px;
    height: 60px;
    display: block;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 0.5rem;
    opacity: 0.8;
    z-index: 9999;
    background-color: var(--bg-overlay-24dp);
  }

  .contact {
    padding-inline: 2rem;
  }

  .container--section {
    width: initial;
  }

  .primary-header {
    color: var(--clr-primary);
  }

  .nav-wrapper {
    padding: 0;
  }

  .primary-navigation {
    padding-top: 4rem;
    position: fixed;
    inset: 0 0 auto;
    display: none;
    background-color: var(--bg-overlay-08dp);
  }

  .primary-navigation[closing],
  .icon__close {
    display: block;
    animation: slide-down 500ms reverse, fade-in 300ms reverse;
  }

  .primary-navigation[opened],
  .icon__close {
    display: block;
  }

  .primary-navigation[opening],
  .icon__close {
    display: block;
    animation: slide-down 500ms forwards, fade-in 500ms forwards;
  }

  .mobile-nav-toggle {
    position: absolute;
    padding: 0.5rem;
    top: 1rem;
    left: 1rem;
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 0.3rem;
    z-index: 1;
    background-color: var(--bg-overlay-24dp);
  }

  .nav__list {
    display: block;
  }

  .list__item {
    padding-inline: 1rem;
    text-align: center;
    font-size: var(--fs-600);
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-color: transparent;
  }

  .mobile-nav-toggle[aria-expanded="true"] .icon__hamburger {
    display: none;
  }

  .mobile-nav-toggle[aria-expanded="false"] .icon__close {
    display: none;
  }

  .hero__container {
    height: calc(100svh - 1px);
  }

  .hero__content {
    padding-block: 0 2rem;
  }

  .hero__intro {
    letter-spacing: 0.1rem;
    font-size: var(--fs-hero-intro);
    font-family: var(--ff-heading);
    text-transform: uppercase;
  }

  .attr__container {
    padding-block: 4rem;
  }

  .attr {
    width: 60%;
    margin-inline: auto;
    font-size: 1.7rem;
    text-align: center;
  }

  .attr__key {
    font-size: 2rem;
  }

  .small {
    font-size: 1.7rem;
  }

  .hero__image {
    height: 15rem;
  }

  .project__header {
    color: var(--clr-primary);
    /* font-size: 3.5rem; */
    font-family: var(--ff-heading);
    text-transform: uppercase;
  }

  .projects-container {
    padding: 0;
  }

  .project__list {
    background-color: var(--bg-overlay-02dp);
  }

  .project {
    flex-direction: column;
    gap: 0;
  }

  .project:nth-of-type(2) {
    flex-direction: column;
  }

  .project__mid {
    margin-block: 4rem;
  }

  .project__num {
    color: var(--clr-secondary);
    font-weight: var(--fw-light);
    font-family: var(--ff-body);
  }

  .project__title {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    font-size: var(--fs-secondary-heading);
    font-family: var(--ff-heading);
    color: var(--clr-secondary);
    background-color: var(--clr-primary);
  }

  .project__description {
    padding: 1rem;
    color: var(--clr-neutral-md);
    font-weight: var(--fw-light);
  }

  .about__me {
    padding-left: 1rem;
    position: static;
  }

  .hotspot-container {
    margin-inline: auto;
    max-width: 100%;
    position: relative;
  }

  .owner__photo {
    width: 40%;
    margin-inline: auto;
    margin-bottom: 2rem;
  }

  .all__hotspots {
    height: auto;
    position: static;
  }

  .hotspot {
    display: none;
  }

  .hotspot::after {
    display: none;
  }

  .tooltip__content {
    padding: 1rem;
    clear: right;
    width: 100% !important;
    position: static;
    display: flow-root;
    color: var(--clr-neutral-100);
    border-radius: 0;
    opacity: 1;
    background-color: var(--clr-secondary);
  }

  .history {
    padding: 0.5rem;
    color: var(--clr-neutral-100);
  }

  .history__summary {
    margin-inline: auto;
    line-height: 1.5;
  }

  .company-img-container {
    padding: 1rem;
    aspect-ratio: 3 / 3;
    float: left;
  }

  .company__img {
    width: 100%;
    border-radius: 0.3rem;
    object-fit: cover;
  }

  .history__title {
    color: var(--clr-primary);
    font-family: "Basement Grotesque";
    font-size: 2rem;
  }

  .border-pointer {
    display: none;
  }

  .usmc .tooltip__content {
    background-color: var(--clr-neutral-100);
  }

  .usmc .history,
  .usmc .history__title {
    color: var(--clr-background-base);
  }

  .about__current {
    margin-top: 2rem;
    margin-inline: auto;
    position: static;
  }
}

@media screen and (max-width: 504px) {
  .tooltip__content {
    display: block;
  }

  .company-img-container {
    margin-inline: auto;
    float: none;
  }
}

@keyframes pageLoad {
  0% {
    transform: translateY(-20);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes hotspot-pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes nav-slide-up {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
