.primaryHeader {
  position: sticky;
  top: 0;
  z-index: 1;
  text-transform: uppercase;
  font-size: var(--fs-nav);
  background-color: var(--bg-overlay-02dp);
}

.navWrapper {
  padding-inline: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobileNavToggle {
  display: none;
}

.nav__list {
  display: flex;
  gap: 20px;
  list-style: none;
  letter-spacing: 1.2;
  font-family: var(--ff-heading);
  font-weight: var(--fw-bold);
}

.list__item {
  margin-block: 1rem;
}

.nav__link {
  color: var(--clr-neutral-md);
  letter-spacing: 0.1rem;
  text-decoration: none;
}

.nav__link:hover {
  color: var(--clr-neutral-100);
  border-bottom: 2px solid var(--clr-primary);
}